<h1 class="text-center">Secondo component</h1>
<h3 class="text-center">
  Questo component ha 2 children, si attivano con i pulsanti presenti nella pagina
</h3>

<div class="container d-flex justify-content-around">
  <a class="btn btn-info"  [routerLink]="['secondoA']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Primo Child</a>
  <a class="btn btn-info"  [routerLink]="['secondoB']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Secondo Child</a>
  <a class="btn btn-info"  [routerLink]="['/secondo']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Torna al component padre</a>
</div>
<router-outlet></router-outlet>
