<div class="container mt-3">
  <h1 class="text-center">Reactive Hero Form</h1>

  <form [formGroup]="form">


      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" class="form-control" formControlName="nome">
        <span *ngIf="getElementoForm('nome')?.invalid && getElementoForm('nome')?.touched">
          <ng-container *ngIf="getElementoErrore('nome','required')">
            Campo obbligatorio
          </ng-container>
        </span>
      </div>

      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" name="alterEgo" id="alterEgo" class="form-control" formControlName="alterEgo">
        <span *ngIf="getElementoForm('alterEgo')?.invalid && getElementoForm('alterEgo')?.touched">
          <ng-container *ngIf="getElementoErrore('alterEgo','required')">
            Campo obbligatorio
          </ng-container>
        </span>
      </div>


      <div formArrayName="poteri" class="mb-3">
        <h3>Super Poteri</h3>
        <button type="button" class="btn btn-info text-dark mb-3" (click)="addPotere()">Aggiungi Potere</button>
        <div class="form-group mb-2" *ngFor="let potere of poteri(); let i=index">
          <input type="text" name="potere" id="potere" class="form-control" [formControlName]="i">
        </div>
      </div>

      <div class="form-group">
        <label for="nemico">Nemico</label>
        <input type="text" name="nemico" id="nemico" class="form-control" formControlName="nemico">
        <span *ngIf="getElementoForm('nemico')?.invalid && getElementoForm('nemico')?.touched">
          <ng-container *ngIf="getElementoErrore('nemico','required') || getElementoForm('nemico')?.hasError('maxlength')">
            Campo obbligatorio. Massimo 10 caratteri.
          </ng-container>
        </span>
      </div>

      <div class="form-group">
        <label for="pianeta">Pianeta</label>
        <input type="text" name="pianeta" id="pianeta" class="form-control" formControlName="pianeta">
        <span *ngIf="getElementoForm('pianeta')?.invalid && getElementoForm('pianeta')?.touched">
          <ng-container *ngIf="getElementoErrore('pianeta','required') || getElementoForm('pianeta')?.hasError('minlength')">
            Campo obbligatorio. Minimo 5 caratteri.
          </ng-container>
        </span>
      </div>

      <div formArrayName="debolezza" class="mb-3">
        <h3>Debolezze</h3>
        <button type="button" class="btn btn-danger text-warning mb-3" (click)="addDebolezza()">Aggiungi Debolezza</button>
        <div class="form-group mb-2" *ngFor="let debolezza of debolezze(); let i=index">
          <input type="text" name="debolezza" id="debolezza" class="form-control" [formControlName]="i">
        </div>
      </div>

    <button type="submit" (click)="submit()" class="btn btn-info mt-3">Invia</button>

  </form>
</div>

