main{
    div.sky{
        text-shadow: 0 0 0.3px black;
        background-image: url(../img/pexels-aleksandar-pasaric-325185.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 0;
        @media screen and (min-width:768px) {
            background-position: center;
        }
        h1{
            font-weight: normal;
        }
        a{
            background-color: $custom-viole-bg-button;
            border: transparent;      
            margin-bottom: 20px;
            &:hover {
                cursor: pointer;
            }      
            @media screen and (min-width:768px) {
                margin-bottom: 300px;
                margin-top: 15px;
            }
            @media screen and (min-width:1200px) {
                margin-bottom: 500px;
                margin-top: 20px;
            }
        }
        p{
            margin-right: 60%;
            @media screen and (min-width:768px) {
                margin-right: 0;
            }
        }
    }
    article{
        .card{
            border:transparent;
            svg{
                margin:15px auto 0 auto;
            }
            h3{
                margin: 0 auto;
                text-align: center;
            }
            @media screen and (min-width:768px) {
                background-color: transparent;
                margin-top: 30px;
                padding-left: 50px;
                padding-right: 50px;
            }
            @media screen and (min-width:1200px) {
                padding-bottom: 300px;
            }
        }
        .card2{
            background-color: rgb(248, 248, 248);
            @media screen and (min-width:768px) {
                background-color: transparent;
            }
        }
        @media screen and (min-width:1200px) {
            background-image: url(../img/s.png);
            background-position: top;
            background-size: 3000px;
            background-image: black;
        }
    }
    .partnerships{
        background-image: url(../img/g.png);
        margin-top: 40px;
        padding-bottom: 40px;
        h1{
            text-align: center;
            font-weight: normal;
        }
        div{
            justify-content: space-between;
            @media screen and (min-width:768px) {
                margin-left: 6%;
                margin-right: 6%;
            }
            a>img{
                width:50px;
                @media screen and (min-width:768px) {
                    width:100px;
                }
            }
        }
        @media screen and (min-width:768px) {
            background-color: $custom-grey-bg;
        }
        @media screen and (min-width:1200px) {
            background-color: transparent;
            background-image: url(../img/v.png);
            background-position: center;
            background-size: 3400px;
            padding-top: 0px;
            padding-bottom: 590px;
        }
    }
}