$custom-green:lighten(green, 25%);
$custom-black:lighten(black, 10%);
$custom-white:darken(white,15%);
$custom-viole:lighten(purple,20%);

$d-flex:flex;

$default-padding-px-right:20px;
$default-padding-px-left:20px;
$default-padding-px-top:20px;
$default-padding-px-bottom:20px;

$default-padding-perc-right:5%;
$default-padding-perc-left:5%;
$default-padding-perc-top:3%;
$default-padding-perc-bottom:3%;


$font-weight-bold:bold;
$d-line:inline;
$d-grid:grid;
$max-width:100%;
$none:none;
$margin-1:1em;
$Arial:Arial;
$Times:"Times New Roman";
$font-size-0-5:0.5em;
$font-size-1:1em;
$font-size-1-2:1.2em;
$font-size-1-5:1.5em;
$font-size-2:2em;
$font-size-3:3em;
$f-end:flex-end;
$custom-violet:rgba(100,14,197,255);
$btn1-col:rgba(16,108,255,255);
$btn2-col:rgba(255,135,0,255);
$footer-white:rgba(249,248,248,255);
$border-radius-1:5px;
$scale-default:scale(1.2);