/* Best Selling Products */

#products h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(113,32,7,255);
    font-weight: bold;
    padding: 5%;
    margin: 1%;
}

/* Fine Best Selling Products */

/* Honey Card */

.honeyCard{
    width: 90%;
    background-color:rgba(254,247,226,255);    
    border: 1px solid transparent;
    border-radius: 80px;
    margin: 5% auto;
}
.honeyCard img{
    width: 100%;
    border-radius: 80px 80px 0 0;
    

}
.text h3{
    font-weight: bold;
    font-size: 1.3rem;
    font-family:Arial, Helvetica, sans-serif;
    color:rgba(113,32,7,255);
    margin-top: 10%;
    margin-left: 7%;
    margin-bottom: 1%;
}
.text p{
    color:rgba(113,32,7,255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-left: 10%;
}
.text span{
    float: right;
    padding-right: 11%;
    padding-top: 3%;
    font-family:Arial, Helvetica, sans-serif;
    color:rgba(113,32,7,255);
    font-weight: 550;    
    font-size: 1.2rem;
    margin-bottom: 5%;
}
.text button{
    background-color: rgba(255,223,127,255);
    color:rgba(113,32,7,255);
    padding: 3%;
    margin-left: 17%;
    width: 66%;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 1.2rem;
    margin-top: 5%;
    margin-bottom: 5%;
}
/* Fine Honey Card */

/* Nav */

nav {
    background-color:rgba(254,247,226,255);
    color:rgba(113,32,7,255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    width: 95%;
    margin: 2%;
    padding: 1%;
    border-radius: 20%;
    text-align: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav ul div{
    background-color: rgba(255,223,127,255);
    width: 29%;
    padding: 5%;
    margin: 3%;
    border: 1px solid transparent;
    border-radius: 100px;
}
nav ul li{
    margin-right: 1em;
}
#shop{
    display:flex; 
    flex-grow: 2;
    font-size: 2rem;
    width: 50%;
}
#shop img{
    height:60px;
    margin-left: 15%;
}
#shop li{
    margin-top: 10px;
}

/* Fine Nav */

/* Article */

article{
    background-color:rgba(254,247,226,255);
    width: 80%;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 520;
    line-height: 1.5em;
    text-align: left;
    color:rgba(113,32,7,255);
    padding:5%;
    border-radius: 5%;
}
article h2{
    font-size: 1.5em;
    font-weight: bold;
    padding-top:12%;
    margin-bottom: 8%;

}
article img{
    max-width: 90%;
    margin: 5%;
    margin-bottom: 0;
}

/* Fine Article */

/* Latest News */

#latestNews h1{
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(113,32,7,255);
    font-weight: bold;
    padding: 3%;
    margin: 1%;
}

/* Fine Latest News */

/* Media Query Tablet*/

@media screen and (min-width:576px) and (max-width:768px) {

    /* Nav */

    nav{
        display: flex;
        font-size: 0.9rem;
    }
    nav ul{
        width:100%;
        flex-wrap: nowrap;
    }
    #shop{
        font-size: 1.2rem;
        order:3;
        width: 0;
    }
    #shop img{
        height: 50px;
        margin-left: 23px;
        
    }
    #shop li{
        margin-top: 10px;
        font-size: 1.5rem;
    }
    nav ul div{
        width: 15%;
        padding-left:1%;
        padding-right: 1%;
        padding-top: 2%;
        padding-bottom: 1%;
        margin: 0.5%;
        border-radius: 10p;
    }
    #a1{order: 1;}
    #a2{order: 2;}
    #a3{order: 4;}
    #a4{order: 5;}
    /* Fine Nav */

    /* Best Selling Products */

    #products h1{
        text-align: left;
        font-size: 3rem;
        font-family: Arial, Helvetica, sans-serif;
        color:rgba(113,32,7,255);
        font-weight: bolder;
        padding: 5%;
        margin: 0;
        margin-bottom: -5%;
    }
    
    /* Fine Best Selling Products */

    /* Honey Card */
    
    #products{
        display: flex;
        flex-wrap: wrap;
    }

    .honeyCard{
        margin:1%;
        width: 45%;
        margin: 5% auto;
    }

    /* Fine Honey Card */

    /* Latest News */

    #latestNews h1{
        text-align: left;
        font-size: 3rem;
        padding: 3%;
        margin-bottom: 0;
    }

/* Fine Latest News */

/* Article */

article{
    width: 85%;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
    color:rgba(113,32,7,255);
    padding:5%;
    border-radius: 5%;
}
article h2{
    font-size: 2em;
    padding-top:1%;
    margin-bottom: 4%;

}
article img{
    max-width: 100%;
    margin: 5%;
    margin-bottom: 0;
}

/* Fine Article */

}

/* Fine Media Query Tablet*/