nav{
    div{
        display: $d-flex;
        padding: {
            top:2%;
            left:10%;
        }
        justify-content: space-between;
    }
    span{
        font: {
            weight:$font-weight-bold;
            size:$font-size-2;        
        }
        a{
            text-decoration:$none;
            color: black;
        }  
        &:hover{
            transform: $scale-default;
        }
    }
    ul{
        justify-self: end;
        list-style: $none;
        display: flex;
        margin: {
            top: 0;
            right:12%;
        }
        font-size: $font-size-1-2;
        li{
            margin-right: $margin-1;
            color:white;            
            &:hover {
                color:orange;
                cursor: pointer;
            }
        }
     
        

    }

    
}