body
    {
        background-color: rgba(0, 255, 255,0.2);
    }
.box
    {
        display: flex;
        margin: 0 auto;
        text-align: center;
        margin: 0 10%;
        padding: 5%;
        flex-flow: column;
    }
.h1
    {
        background-color: transparent;
        font-size: 80px;
        border: 3px solid rgba(0, 0, 0,0.1);
        margin-bottom: 4%;
    }
.h2
    {
        background-color: transparent;
        font-size: 40px;
        border: 2px solid rgba(0, 0, 0,0.1);
    }
.h4
    {
        background-color: transparent;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0,0.1);
        margin-top: 8%;
        font-weight: bold;
    }
#img
    {
        width: 65%;
        margin-top: 2%;
        border: 1px solid rgba(0, 0, 0,0.1);
    }