<configuration>

  <appender name="CONSOLE_OUTPUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
   <appender name="FILE_OUTPUT" class="ch.qos.logback.core.FileAppender">
    <file>testFile.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="CONSOLE_OUTPUT" />
    <appender-ref ref="FILE_OUTPUT" />
  </root>
</configuration>